:root {
    --couleur-main-verte: #1DD3B0;
    --couleur-clair-vert: #91D050;
    --couleur-main-rouge: #D40505;
    --couleur-grey: #A4A3A3;
    --couleur-grey-light: #F5F5F5;
    --couleur-dark-grey: #40375A;

    font-family: 'Inter', serif, Arial;
    font-size: 18px;
}

::selection{
    background-color: var(--couleur-main-verte);
    color: white;
}

/*@media (prefers-color-scheme: dark) {*/
/*    body{*/
/*        background-color: ;*/
/*    }*/
/*}*/

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/


/* ----------Error----------*/
.error{
    color: var(--couleur-main-rouge);
    font-size: 20px;
}

/* ----------Login----------*/

#Login {
    text-align: center;
    margin-top: 15%;
}

#Login #formulaire{

}

#Login input{
    width: 400px;
    height: 30px;
    margin: 10px;
    border-radius: 20px;
    padding: 5px;
    background-color: var(--couleur-grey-light);
    border: var(--couleur-main-verte) 1px solid;
}

#Login input::placeholder
, #Login input[type="text"]
, #Login input[type="password"]{
    padding-left: 20px;
    color: var(--couleur-main-verte);
    font-size: 18px;
}

#Login h1{
    color: var(--couleur-main-verte);
    font-size: 40px;
}


/* ----------BUTTONS----------*/

.button {
    margin: 10px;
    display: inline-block;
    height: 50px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}

.button.green {
    background-color: var(--couleur-main-verte);
}

.button.red {
    background-color: var(--couleur-main-rouge);
}

.button .texte {
    margin-left: 50px;
    margin-right: 10px;
    padding-top: 13px;
    text-align: left;
}

.confirm{
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 13px;
}

.button.green:hover {
    background-color: white;
    color: var(--couleur-main-verte);
    border: var(--couleur-main-verte) 1px solid;
}

.button.red:hover {
    background-color: white;
    color: var(--couleur-main-rouge);
    border: var(--couleur-main-rouge) 1px solid;
}

.logo {
    margin-right: 10px;
    position: fixed;
    width: 49px;
    height: 49px;
    background-position: center;
}

.logo.add {
    content: url("../img/add.png");
    background-repeat: no-repeat;
    border-radius: 50px;
}

.logo.modify {
    content: url("../img/modified_blank.png");
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin-top: 7px;
    margin-left: 10px;
}

.logo.delete {
    content: url("../img/delete_blank.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
}

.button:hover .logo.add {
    content: url("../img/add_blanc.png");
    background-repeat: no-repeat;
}

.button:hover .logo.delete {
    content: url("../img/delete_red.png");
    background-repeat: no-repeat;
}

.button:hover .logo.modify {
    content: url("../img/modified_green.png");
    background-repeat: no-repeat;
}